@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.container .col-6 {
  display: inline-flex;
  width: 50%;
}

.mt-20 {
  margin-top: 20px;
}

@media(max-width: 768px) {
  .container .col-6 {
    width: 100%;
  }
}